#about{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    color: black;
    align-items: center;
    height: 100vh;
}
.about_photo{
    width: 400px;
    height: 400px;
    border: 1px solid aqua;
    border-radius: 50%;
    box-shadow: 0 0 20px aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34, 34, 34);
}
.about_photo img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.about_text{
    width: calc(100% -50%);
    max-width: 40%;
    height: fit-content;
    font-size: 1.8rem;
}
.about_text h1{
    color: red;
}
.about_text h2{
    color: blueviolet;
}
.about_text button{
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    background: rgb(49, 49, 49);
    color: white;
    position: relative;
    margin-top: 100px;
}

@media (max-width:740px){
    #about{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
    }
    .about_text{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: calc(100% - 20px);
        flex-direction: column;
        font-size: 1.5rem;
        text-align: center;
    }
    .about_text button{
        width: calc(100% - 50px);
    }
}