.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background:none;
    opacity: 1;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
    width: 300px;
    height: fit-content;
    transition: all 0.3s;
}
.cards:hover{
    transform: scale(1.2);
}

.cards ::before{
    content: "";
    position: absolute;
    background: #e6e6e6;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
    border-radius: 20px;
    box-shadow: 0 0 10px #e6e6e6;
    filter: blur(10px);
}
.cards img{
    width: 200px;
    height: 200px;
}
