
#contact{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 500px;
    height: fit-content;
    padding: 20px;
    outline: none;
    border: 1px solid  black;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 35px;
    border-radius: 20px;
}
form input{
    width: 100%;
    height: 40px;
    outline: none;
}
textarea{
    width: 100%;
    height: 200px;
    outline: none;
}