.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width:740px) {
  .home-section{
    height: fit-content;
    flex-wrap: wrap;
  }
  .hero_img{
    width: 100%;
    max-width: 100%;
  }
  .hero_img img{
    width: 100%;
    max-width: 100%;
  }
}
.rotating-img {
  position: absolute;
  opacity: 0.3;
  pointer-events: none;
  animation: rotate360 5s linear infinite;
  transform: 0.3s ease;
  filter: contrast(500);
}

@keyframes rotateAndFloat {
  0% {
    transform: rotate(0deg) translate(5px, 0px);
  }
  50% {
    transform: rotate(180deg) translate(10px, 5px); 
  }
  100% {
    transform: rotate(360deg) translate(0px,10px);
  }
}

.rotating-img {
  animation: rotateAndFloat 10s linear infinite;
}
.hero_text{
  width: calc(100% - 60%);
  animation: heroTextEffect 0.7s ease-in 1;
}
@keyframes heroTextEffect {
  0%{
    transform: translateY(300px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.hero_text h1{
    color: aqua;
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
}
.hero_text h6{
  color: white;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin-top: -10px;
}
.hero_text p{
  color: white;
  font-size: 1.2rem;
  margin-top: 10px;
}
.hero_text button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: aqua;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  color: black;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 20px aqua;
  transition: background-size 0.5s ease;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  margin-left: 40px;
}

button:hover {
  background-size: 100% 110%;
  background-image: linear-gradient(to right, blueviolet 0%, blueviolet 100%);
  box-shadow: 0 0 20px blueviolet;
}

.hero_img {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
  animation: heroAnimation 0.7s ease-in-out 1;
}

@keyframes heroAnimation {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero_img::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: blue;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.5;
}
.hero_img img{
  z-index: 1;
  width: 800px;
  height: 700px;
  filter: contrast(1);
}
