
#project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  padding-top: 70px;
}
.loding{
  padding-top: 500px;
  font-size: 3rem;
  color: black;
  margin-left: 50%;
}



